.com_virtuemart,
html,
.com_content {
	// Global
	.addtocart-bar{
		.addtocart-button {
			.addtocart-button {
				background: @brand-primary;
				color: @white;
				font-size: @font-size-base;
				text-transform: uppercase;
				padding: @t3-global-padding/3;
				border-radius: @border-radius-base;
				font-weight: 700;
				border-color: darken(@brand-primary, 5%);

				&:hover,
				&:focus {
					border-color: @brand-primary;
					background: lighten(@brand-primary, 10%);
					color: @white;
				}
			}
		}

		// Quantity box
		.quantity-box {
			display: none;
			.quantity-input {
				background: @white;
				border-color: @t3-border-color;
				width: 30px;
				height: 30px;
				border-radius: @border-radius-base;
				box-shadow: none;
			}
		}

		// Quantity control
		.quantity-controls {
			display: none;
			.quantity-controls {
				color: @white;
				border-radius: @border-radius-base;
				font-size: 12px;
			}
		}
	}

	// Module menu
	.VMmenu {
		padding: 0;
		margin: 0;
		li {
			display: block;
			line-height: 1;

			a {
				border-bottom: 1px dotted @t3-border-color;
				display: block;
				padding: @t3-global-padding/2 0;
			}
		}
	}

	// Specific

	.vmproduct {
		.clearfix();
		margin: 0;
		padding: 0;
		li {
			display: block;
			padding: 0 @t3-global-padding/2;
		}
	}

	.vmgroup {
			div.spacer {
			border: 1px solid @t3-border-color;
			padding: @t3-global-padding;
			text-align: center;
			margin: @t3-global-margin/2 0;
			.transition(all .2s ease-in-out);

			.prod-title {
				text-transform: uppercase;
				font-weight: bold;
				color: @gray;
				display: block;
				margin-bottom: @t3-global-padding/2;
			}

			&:hover {
				.box-shadow(0 0px 25px rgba(0, 0, 0, 0.1));
			}
		}
	}

	// Manufacturer
	.vmmanufacturer {
		margin: 0;
		padding: 0;
		li {
			margin: 0;
			padding: 0;
			display: inline-block;
			width: 30%;
			padding: 5px;

			a {
				
			}
		}
	}


	.browse-view {
		h1 {
			font-size: @font-size-h3;
			text-transform: uppercase;
			font-weight: 700;
		}
	}

	// Price 
	.PricesalesPrice {
		font-size: @font-size-h4;
		font-weight: bold;
		margin: @t3-global-margin 0;
		color: @brand-primary;
	}
}