.vmproduct {
	.clearfix();
	margin: 0;
	padding: 0;
	li {
		display: block;
		padding: 0 @t3-global-padding/2;
	}


}

.vmgroup {
		div.spacer {
		border: 1px solid @t3-border-color;
		padding: @t3-global-padding;
		text-align: center;
		margin: @t3-global-margin/2 0;

		.prod-title {
			text-transform: uppercase;
			font-weight: bold;
			color: @gray;
			display: block;
		}
	}
}