.vmgroup ul.vmproduct {
  padding: 0;
  margin: 0;
}
.vmgroup ul.vmproduct:before,
.vmgroup ul.vmproduct:after {
  content: " ";
  display: table;
}
.vmgroup ul.vmproduct:after {
  clear: both;
}
.vmgroup ul.vmproduct li {
  display: block;
}
.vmgroup ul.vmproduct li.width25 {
  width: 25%;
  float: left;
  padding: 25px;
}
.home .vmgroup {
  margin-bottom: 50px;
  border-bottom: 1px solid #eeeeee;
}