.page-header {
  margin: 0 0 20px;
  border-bottom: 0;
  border-left: 5px solid #fa732a;
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
  background: url("../../templates/ja_playmag/images/dot.gif") repeat-x center right;
}
.page-title,
.page-header h1 {
  color: #1a1a1a;
  font-size: 14px;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  background: #ffffff;
  padding-left: 15px;
  padding-right: 20px;
  display: inline-block;
}
.page-subheader {
  border-bottom: 1px solid #e7e7e7;
  margin: 0 0 20px;
}
.page-subheader:before,
.page-subheader:after {
  content: " ";
  display: table;
}
.page-subheader:after {
  clear: both;
}
.page-subtitle,
.page-subheader h2 {
  line-height: 1;
  margin: 0;
}
.page-header + .page-subheader {
  margin-top: -20px;
}
.article-title,
.article-header h1 {
  margin: 0 0 10px 0;
  font-size: 18px;
  line-height: 1.32857143;
  font-weight: 700;
  color: #1a1a1a;
}
.article-title a,
.article-header h1 a {
  color: #1a1a1a;
  position: relative;
}
.article-title a:hover,
.article-header h1 a:hover,
.article-title a:focus,
.article-header h1 a:focus,
.article-title a:active,
.article-header h1 a:active {
  border-bottom: 1px solid #e7e7e7;
}
.item-title {
  font-weight: bold;
}
.jumbotron h1,
.jumbotron h2,
.jumbotron h3 {
  margin-top: 0;
}
.jumbotron p:last-child {
  margin-bottom: 0;
}
.container .jumbotron {
  border-radius: 0px;
}
.masthead {
  padding: 40px 0;
  text-align: center;
}
.masthead p:last-child {
  margin-bottom: 0;
}
@media screen and (min-width: 768px) {
  .masthead {
    padding: 80px 0;
  }
  .masthead h1 {
    font-size: 98px;
  }
  .masthead p {
    font-size: 28px;
  }
  .masthead .btn-lg {
    margin-top: 20px;
    padding: 18px 42px;
    font-size: 21px;
  }
}
.jumbotron-primary {
  background-color: #fa732a;
  color: #ffffff;
}
.jumbotron-primary h1,
.jumbotron-primary h2,
.jumbotron-primary h3 {
  color: #ffffff;
}
.jumbotron-primary p {
  color: #ffffff;
}
.jumbotron-primary .btn-primary {
  border-color: #fff;
}
.label:empty {
  display: none;
}
.badge:empty {
  display: none;
}
.btn .badge {
  position: relative;
  top: -1px;
}
.page-header .label,
.page-header .badge {
  vertical-align: middle;
}
.alert h4 {
  color: inherit;
}
.media:first-child {
  margin-top: 0;
}
.media-object {
  display: block;
}
.media-heading {
  margin: 0 0 5px;
}
.media > .pull-left {
  margin-right: 10px;
}
.media > .pull-right {
  margin-left: 10px;
}
.list-group-item > .badge {
  float: right;
}
.list-group-item > .badge + .badge {
  margin-right: 5px;
}
a.list-group-item.active .list-group-item-heading,
a.list-group-item.active:hover .list-group-item-heading,
a.list-group-item.active:focus .list-group-item-heading {
  color: inherit;
}
a.list-group-item.active .list-group-item-text,
a.list-group-item.active:hover .list-group-item-text,
a.list-group-item.active:focus .list-group-item-text {
  color: #fff6f1;
}
.panel-heading > .dropdown .dropdown-toggle {
  color: inherit;
}
.panel-title > a {
  color: inherit;
}
.modal-backdrop.fade {
  opacity: 0;
  filter: alpha(opacity=0);
}
.modal-backdrop.in {
  opacity: 0.5;
  filter: alpha(opacity=50);
}
@media screen and (min-width: 768px) {
  .modal-dialog {
    width: 600px;
    margin: 30px auto;
  }
  .modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  }
}
.rating-cell {
  display: table-cell;
  padding: 25px 15px;
  vertical-align: middle;
}
.rating-cell:nth-child(2) {
  padding-left: 0;
}
.rating-score {
  padding: 0;
}
.rating-score .score {
  background: #303136;
  border-radius: 100%;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  height: 40px;
  width: 40px;
  background: none;
  box-shadow: none;
}
.rating-score .score-clip {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.rating-score .score-pie {
  background: #fa4b2a;
  height: 100%;
  position: absolute;
  width: 50%;
}
.rating-score .score-spinner {
  border-radius: 100% 0 0 100% / 50% 0 0 50%;
  border-right: none;
  overflow: hidden;
  transform-origin: 100% 50% 0;
  -webkit-transform-origin: 100% 50% 0;
  z-index: 100;
}
.rating-score .score-filler {
  border-radius: 0 100% 100% 0/0 50% 50% 0;
  left: 50%;
  z-index: 200;
  border-left: none;
  overflow: hidden;
  background-image: -webkit-linear-gradient(#e08900 0%, #fa4b2a 40%);
  background-image: linear-gradient(#e08900 0%, #fa4b2a 40%);
  -webkit-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
}
.rating-score .score-8 .score-filler {
  opacity: 1;
}
.rating-score .score-inner {
  background: #26272B;
  border-radius: 400px;
  color: #ffffff;
  font-weight: 600;
  position: absolute;
  text-align: center;
  z-index: 400;
  -webkit-transition: background 0.25s ease 0s;
  -o-transition: background 0.25s ease 0s;
  transition: background 0.25s ease 0s;
  bottom: 3px;
  font-size: 14px;
  left: 3px;
  line-height: 20px;
  right: 3px;
  top: 3px;
}
.rating-score .score-table {
  display: table;
  height: 100%;
  width: 100%;
}
.rating-score .score-cell {
  display: table-cell;
  vertical-align: middle;
}
.rating-score-lg .score {
  width: 80px;
  height: 80px;
}
.rating-score-lg .score-inner {
  line-height: 68px;
  font-size: 28px;
  left: 6px;
  top: 6px;
  right: 6px;
  bottom: 6px;
}
@media (min-width: 768px) {
  .rating-score-xlg .score {
    width: 240px;
    height: 240px;
  }
  .rating-score-xlg .score-inner {
    line-height: 216px;
    font-size: 84px;
    left: 12px;
    top: 12px;
    right: 12px;
    bottom: 12px;
  }
}
.rating-score-10 .score-0 .score-clip2 {
  clip: rect(0px, 80px, 80px, 40px);
}
.rating-score-10 .score-0 .score-clip {
  clip: rect(0px, 40px, 0px, 0px);
}
.rating-score-10 .score-0 .score-spinner {
  transform: rotate(0deg);
}
.rating-score-10 .score-1 .score-clip2 {
  clip: rect(0px, 80px, 80px, 40px);
}
.rating-score-10 .score-1 .score-clip {
  clip: rect(0px, 40px, 0px, 0px);
}
.rating-score-10 .score-1 .score-spinner {
  transform: rotate(36deg);
}
.rating-score-10 .score-2 .score-clip2 {
  clip: rect(0px, 80px, 80px, 40px);
}
.rating-score-10 .score-2 .score-clip {
  clip: rect(0px, 40px, 10px, 20px);
}
.rating-score-10 .score-2 .score-spinner {
  transform: rotate(72deg);
}
.rating-score-10 .score-3 .score-clip2 {
  clip: rect(0px, 80px, 80px, 40px);
}
.rating-score-10 .score-3 .score-clip {
  clip: rect(0px, 40px, 20px, 20px);
}
.rating-score-10 .score-3 .score-spinner {
  transform: rotate(108deg);
}
.rating-score-10 .score-4 .score-clip2 {
  clip: rect(0px, 80px, 80px, 40px);
}
.rating-score-10 .score-4 .score-clip {
  clip: rect(0px, 40px, 30px, 20px);
}
.rating-score-10 .score-4 .score-spinner {
  transform: rotate(144deg);
}
.rating-score-10 .score-5 .score-clip2 {
  clip: rect(0px, 80px, 80px, 40px);
}
.rating-score-10 .score-5 .score-clip {
  clip: rect(0px, 40px, 80px, 0px);
}
.rating-score-10 .score-5 .score-spinner {
  transform: rotate(180deg);
}
.rating-score-10 .score-6 .score-clip2 {
  clip: rect(0px, 40px, 40px, 20px);
}
.rating-score-10 .score-6 .score-clip {
  clip: rect(0px, 40px, 40px, 0px);
}
.rating-score-10 .score-6 .score-spinner {
  transform: rotate(216deg);
}
.rating-score-10 .score-7 .score-clip2 {
  clip: rect(0px, 40px, 40px, 20px);
}
.rating-score-10 .score-7 .score-clip {
  clip: rect(0px, 40px, 40px, 0px);
}
.rating-score-10 .score-7 .score-spinner {
  transform: rotate(252deg);
}
.rating-score-10 .score-8 .score-clip {
  clip: rect(0px, 20px, 40px, 0px);
}
.rating-score-10 .score-8 .score-clip2 {
  clip: rect(0px, 40px, 40px, 20px);
}
.rating-score-10 .score-8 .score-spinner {
  transform: rotate(288deg);
}
.rating-score-10 .score-9 .score-clip2 {
  clip: rect(0px, 80px, 80px, 40px);
}
.rating-score-10 .score-9 .score-clip {
  clip: rect(0px, 40px, 80px, 0px);
}
.rating-score-10 .score-9 .score-spinner {
  transform: rotate(324deg);
}
.rating-score-10.rating-score-lg .score-5 .score-clip {
  clip: rect(0px, 80px, 80px, 0px);
}
.rating-score-10.rating-score-lg .score-5 .score-clip2 {
  clip: rect(0px, 80px, 80px, 0px);
}
.rating-score-10.rating-score-lg .score-6 .score-clip2 {
  clip: rect(0px, 80px, 80px, 20px);
}
.rating-score-10.rating-score-lg .score-6 .score-clip {
  clip: rect(0px, 80px, 80px, 0px);
}
.rating-score-10.rating-score-lg .score-8 .score-clip {
  clip: rect(0, 40px, 80px, 0px);
}
.rating-score-10.rating-score-lg .score-8 .score-clip2 {
  clip: rect(0px, 80px, 80px, 40px);
}
.rating-score-10.rating-score-xlg .score-3 .score-clip {
  clip: rect(0px, 240px, 240px, 0px);
}
.rating-score-10.rating-score-xlg .score-3 .score-clip2 {
  clip: rect(0px, 240px, 240px, 0px);
}
.rating-score-10.rating-score-xlg .score-5 .score-clip {
  clip: rect(0px, 240px, 240px, 0px);
}
.rating-score-10.rating-score-xlg .score-5 .score-clip2 {
  clip: rect(0px, 240px, 240px, 0px);
}
.rating-score-10.rating-score-xlg .score-6 .score-clip2 {
  clip: rect(0px, 240px, 240px, 80px);
}
.rating-score-10.rating-score-xlg .score-6 .score-clip {
  clip: rect(0px, 240px, 240px, 0px);
}
.rating-score-10.rating-score-xlg .score-8 .score-clip {
  clip: rect(0, 120px, 240px, 0px);
}
.rating-score-10.rating-score-xlg .score-8 .score-clip2 {
  clip: rect(0px, 240px, 240px, 120px);
}
.rating-score-5 .score-0 .score-clip2 {
  clip: rect(0px, 80px, 80px, 40px);
}
.rating-score-5 .score-0 .score-clip {
  clip: rect(0px, 40px, 0px, 0px);
}
.rating-score-5 .score-0 .score-spinner {
  transform: rotate(0deg);
}
.rating-score-5 .score-1 .score-clip {
  clip: rect(0px, 40px, 40px, 20px);
}
.rating-score-5 .score-1 .score-clip2 {
  clip: rect(0px, 40px, 40px, 40px);
}
.rating-score-5 .score-1 .score-spinner {
  transform: rotate(72deg);
}
.rating-score-5 .score-2 .score-clip {
  clip: rect(0px, 40px, 40px, 20px);
}
.rating-score-5 .score-2 .score-clip2 {
  clip: rect(0px, 80px, 80px, 40px);
}
.rating-score-5 .score-2 .score-spinner {
  transform: rotate(144deg);
}
.rating-score-5 .score-3 .score-clip2 {
  clip: rect(0px, 80px, 80px, 40px);
}
.rating-score-5 .score-3 .score-clip {
  clip: rect(0px, 40px, 40px, 0);
}
.rating-score-5 .score-3 .score-spinner {
  transform: rotate(216deg);
}
.rating-score-5 .score-4 .score-clip2 {
  clip: rect(0px, 80px, 80px, 40px);
}
.rating-score-5 .score-4 .score-clip {
  clip: rect(0px, 40px, 40px, 0);
}
.rating-score-5 .score-4 .score-spinner {
  transform: rotate(288deg);
}
.rating-score-5 .score-5 .score-clip2 {
  clip: rect(0px, 80px, 80px, 40px);
}
.rating-score-5 .score-5 .score-clip {
  clip: rect(0px, 40px, 80px, 0px);
}
.rating-score-5 .score-5 .score-spinner {
  transform: rotate(360deg);
}
@media (min-width: 768px) {
  .rating-score-5.rating-score-xlg .score-0 .score-clip,
  .rating-score-5.rating-score-xlg .score-0 .score-clip2 {
    clip: rect(0px, 0, 0, 0px);
  }
  .rating-score-5.rating-score-xlg .score-2 .score-spinner {
    transform: rotate(180deg);
  }
  .rating-score-5.rating-score-xlg .score-2 .score-clip {
    clip: rect(0px, 240px, 240px, 240px);
  }
  .rating-score-5.rating-score-xlg .score-2 .score-clip2 {
    clip: rect(0px, 240px, 220px, 0px);
  }
  .rating-score-5.rating-score-xlg .score-1 .score-clip {
    clip: rect(0px, 240px, 120px, 120px);
  }
  .rating-score-5.rating-score-xlg .score-1 .score-clip2 {
    clip: rect(0px, 120px, 120px, 80px);
  }
  .rating-score-5.rating-score-xlg .score-3 .score-clip,
  .rating-score-5.rating-score-xlg .score-3 .score-clip2,
  .rating-score-5.rating-score-xlg .score-4 .score-clip,
  .rating-score-5.rating-score-xlg .score-4 .score-clip2,
  .rating-score-5.rating-score-xlg .score-5 .score-clip,
  .rating-score-5.rating-score-xlg .score-5 .score-clip2 {
    clip: rect(0px, 240px, 240px, 0px);
  }
}
html > body div#k2Frontend .icon-48-k2 {
  background: url("../../templates/ja_playmag/images/K2_Logo.png") no-repeat 0 center;
  display: block;
  padding-left: 120px !important;
}
html > body div#k2Frontend table.k2FrontendToolbar {
  float: right;
}
html > body div#k2Frontend table.k2FrontendToolbar tr td.button {
  padding: 6.66666667px;
}
html > body div#k2Frontend #k2FrontendEditToolbar {
  text-align: left;
}
html > body div#k2Frontend .k2AdminTableFiltersSearch button {
  border: 0;
  background: #fa732a;
  border-radius: 20px;
  color: #ffffff;
  margin-top: 10px;
  margin-right: 10px;
}
html > body div#k2Frontend .k2AdminTableFiltersSearch button:hover {
  background: #eb5606;
}
html > body div#k2Frontend .k2AdminTableFiltersSelects select {
  display: inline-block;
  height: auto;
  font-size: 12px;
  padding: 8px 5px;
}
html > body div#k2Frontend .radio,
html > body div#k2Frontend .checkbox {
  display: inline-block;
}
html > body div#k2Frontend .radio .inputbox,
html > body div#k2Frontend .checkbox .inputbox {
  float: left;
  height: 13px;
  position: static;
  margin-left: 0;
  margin-top: 0;
  margin-right: 5px;
}
html > body div#k2Frontend .controls > label {
  margin-right: 10px;
}