.dropdown-menu > li > a {
  padding: 5px 20px;
}
.dropdown-header {
  padding: 3px 20px;
  font-size: 14px;
}
.dropdown-header a {
  color: #999999;
}
.dropdown-submenu > a:after {
  border-left-color: #333333;
}
.dropdown-submenu:hover > a:after {
  border-left-color: #262626;
}
.nav > li > .separator {
  position: relative;
  display: block;
  padding: 10px 15px;
  line-height: 20px;
}
@media (min-width: 768px) {
  .nav > li > .separator {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
@media (max-width: 991px) {
  .nav > li > span {
    padding: 10px 15px;
    display: inline-block;
  }
}
.t3-mainbody .nav-pills > li {
  padding: 5px;
}
.t3-mainbody .nav-pills > li > a {
  border-bottom: 1px solid transparent;
  display: inline-block;
  font-weight: bold;
  padding: 1px 0;
  text-transform: uppercase;
  transition: 0.2s;
}
.t3-mainbody .nav-pills > li > a:hover,
.t3-mainbody .nav-pills > li > a:active,
.t3-mainbody .nav-pills > li > a:focus {
  background: none;
  border-bottom: 1px solid #e7e7e7;
  margin-left: 10px;
  color: #fa732a;
}
.t3-mainbody .nav-pills > li.open > a {
  background: none;
  border-bottom: 1px solid #e7e7e7;
  margin-left: 10px;
  color: #fa732a;
}
.t3-mainbody .nav-pills > li.open > a .caret {
  border-bottom-color: #fa732a;
  border-top-color: #fa732a;
}
.t3-mainbody .nav-pills > li.open > a:hover {
  background: none;
  border-bottom: 1px solid #e7e7e7;
}
.t3-mainbody .nav-pills > li.active > a,
.t3-mainbody .nav-pills > li.active > a:hover,
.t3-mainbody .nav-pills > li.active > a:focus {
  background: none;
  border-bottom: 1px solid #fa732a;
  color: #fa732a;
  margin-left: 0;
}
.t3-mainbody .nav-pills > li .dropdown-menu {
  margin: 0;
}
.t3-mainbody .nav-pills > li .dropdown-menu li > a {
  transition: 0.2s;
  color: #999999;
}
.t3-mainbody .nav-pills > li .dropdown-menu li > a:hover,
.t3-mainbody .nav-pills > li .dropdown-menu li > a:active,
.t3-mainbody .nav-pills > li .dropdown-menu li > a:focus {
  padding-left: 25px;
  color: #ffffff;
}
.t3-mainbody .nav-pills > li .dropdown-menu > .active > a,
.t3-mainbody .nav-pills > li .dropdown-menu > .active > a:hover,
.t3-mainbody .nav-pills > li .dropdown-menu > .active > a:focus {
  background: none;
  color: #fa732a;
  padding-left: 20px;
}
.nav .caret {
  border-top-color: #1a1a1a;
  border-bottom-color: #1a1a1a;
}
.nav a:hover .caret {
  border-top-color: #fa732a;
  border-bottom-color: #fa732a;
}
.t3-navhelper .container {
  background: #f5f5f5;
  border-top: 1px solid #e7e7e7;
  color: #555555;
  padding: 5px 0;
}
.breadcrumb {
  margin-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  border-radius: 0;
}
.breadcrumb > li + li:before {
  content: "/\00a0";
}
.breadcrumb > .active {
  color: #999999;
}
.breadcrumb > .active + li:before {
  content: "";
  padding: 0;
}
.breadcrumb > .active .hasTooltip {
  padding-right: 10px;
}
.breadcrumb .divider {
  display: none;
}
.pagination li:first-child a,
.pagination li:last-child a {
  border-radius: 0;
}
.pagination li a {
  border: 0;
  background: #999999;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  margin: 0 1px 1px 0;
  padding: 8px 20px;
}
.pagination li a:hover,
.pagination li a:focus,
.pagination li a:active {
  color: #ffffff;
}
.pagination li.disabled a {
  background: #bfbfbf;
  color: #ffffff;
}
.pagination li.disabled a:hover,
.pagination li.disabled a:focus,
.pagination li.disabled a:active {
  background: #bfbfbf;
  color: #ffffff;
}
.pagination {
  display: block;
}
.pagination:before,
.pagination:after {
  content: " ";
  display: table;
}
.pagination:after {
  clear: both;
}
@media screen and (min-width: 768px) {
  .pagination {
    float: left;
  }
}
.pagination .pagination {
  display: inline-block;
}
.counter {
  border-radius: 0px;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  display: inline-block;
  margin-top: 20px;
  padding: 8px 20px;
}
@media screen and (min-width: 768px) {
  .counter {
    float: right;
  }
}