.navbar {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
}
.navbar-toggle {
  border: 0;
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  position: absolute;
  right: -15px;
  padding: 0;
  height: 50px;
  line-height: 1;
  margin: 0;
  top: 0;
  width: 53px;
  z-index: 1000;
}
.navbar-toggle .fa-bars {
  color: #ffffff;
}
@media (min-width: 768px) {
  .navbar-toggle {
    display: none;
  }
}
.navbar-nav {
  margin: 7.5px -15px;
}
@media (min-width: 768px) {
  .navbar-nav {
    margin: 0;
  }
}
.navbar-nav > li > .dropdown-menu {
  background: #000000;
  border-radius: 0;
  border: 0;
  padding-top: 15px;
}
.navbar-nav > li > .dropdown-menu a {
  color: #999999;
  padding: 10px 20px;
  border-bottom: 1px solid #222222;
}
.navbar-nav > li > .dropdown-menu a:hover,
.navbar-nav > li > .dropdown-menu a:focus {
  color: #ffffff;
  background: none;
}
.navbar-nav > li > .dropdown-menu .banneritem a {
  padding: 0;
}
.navbar-nav > li > .dropdown-menu .parent:last-child > a {
  border: 0;
}
.navbar-nav > li > .dropdown-menu .active > a,
.navbar-nav > li > .dropdown-menu .active > a:hover,
.navbar-nav > li > .dropdown-menu .active > a:focus {
  color: #fa732a;
  background: none;
}
.navbar-nav > li > .dropdown-menu .open > a:hover,
.navbar-nav > li > .dropdown-menu .open > a:focus {
  color: #ffffff;
  background: none;
}
.dropdown-menu > li > a {
  padding: 10px 20px;
  font-weight: 300;
  font-size: 12px;
  border-bottom: 1px solid #222222;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  color: #fa732a;
  background: none;
}
.dropdown-menu > li.open > a {
  background: none;
}
.dropdown-menu > li.open > a:hover,
.dropdown-menu > li.open > a:focus {
  border-color: #222222;
  background: none;
}
.dropdown-menu > li:last-child > a {
  border: 0;
}
.dropdown-submenu.open > .dropdown-menu {
  background: #222222;
  border: 0;
  border-radius: 0;
}
.dropdown-submenu.open > .dropdown-menu > li > a {
  border-color: #333333;
}
.dropdown-submenu.open > a:after {
  border-left-color: #ffffff;
}
.navbar-nav > li > .dropdown-menu .parent.open > a {
  background: none;
  color: #ffffff;
}
.navbar-default {
  background-color: transparent;
  border-color: transparent;
}
.navbar-default .navbar-brand {
  color: #ffffff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #5e5e5e;
  background-color: transparent;
}
.navbar-default .navbar-text {
  color: #ffffff;
}
.navbar-default .navbar-nav {
  border-left: 1px solid rgba(255, 255, 255, 0.2);
}
.navbar-default .navbar-nav > li > a {
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
  background: #000000;
}
.navbar-default .navbar-nav > li > .nav-header {
  color: #777777;
  display: inline-block;
  padding-top: 15px;
  padding-bottom: 15px;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .alias-parent-active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .alias-parent-active > a:hover,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .alias-parent-active > a:focus {
  color: #ffffff;
  background: #eb5606;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2) inset;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}
.navbar-default .navbar-nav > .disabled > a,
.navbar-default .navbar-nav > .disabled > a:hover,
.navbar-default .navbar-nav > .disabled > a:focus {
  color: #ffffff;
  background: #000000;
}
.navbar-default .navbar-toggle {
  border-color: rgba(255, 255, 255, 0.2);
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #000000;
  border-color: rgba(255, 255, 255, 0.2);
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #cccccc;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #f95e0a;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #ffffff;
  background: #000000;
}
.navbar-default .navbar-nav > .open > a .caret,
.navbar-default .navbar-nav > .open > a:hover .caret,
.navbar-default .navbar-nav > .open > a:focus .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}
.navbar-default .navbar-nav > .open.active > a,
.navbar-default .navbar-nav > .open.active > a:hover,
.navbar-default .navbar-nav > .open.active > a:focus {
  color: #ffffff;
  background: none;
}
.navbar-default .navbar-nav > .dropdown > a .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #777777;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #333333;
    background-color: transparent;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #555555;
    background-color: #f95e0a;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #cccccc;
    background-color: transparent;
  }
}
.navbar-default .navbar-link {
  color: #777777;
}
.navbar-default .navbar-link:hover {
  color: #333333;
}
@media (min-width: 768px) and (max-width: 991px) {
  #t3-mainnav {
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    padding-left: 0;
    padding-right: 0;
  }
}
.t3-mainnav {
  border-left: 0;
  border-right: 0;
  margin-bottom: -1px;
  margin-top: -1px;
  border-radius: 0;
}
.t3-mainnav .t3-navbar {
  padding-left: 0;
  padding-right: 0;
  color: #ffffff;
}
.t3-mainnav .t3-navbar-collapse {
  border-top-color: rgba(255, 255, 255, 0.2);
  background: #1a1a1a;
  margin: 0 -15px;
}
@media (min-width: 768px) {
  .t3-mainnav .t3-navbar-collapse {
    display: none !important;
  }
}
.t3-mainnav .t3-navbar-collapse .navbar-nav {
  margin: 0 -15px;
}
.t3-mainnav .t3-navbar-collapse .navbar-nav > li > a {
  border-left: 4px solid #1a1a1a;
}
.t3-mainnav .t3-navbar-collapse .navbar-nav li > a .fa {
  margin-right: 5px;
}
.t3-mainnav .t3-navbar-collapse .navbar-nav > li.active > a,
.t3-mainnav .t3-navbar-collapse .navbar-nav > li.open > a {
  border-left-color: #fa732a;
  background: #272727;
}
.t3-mainnav .t3-navbar-collapse .navbar-nav > li.active.open > a,
.t3-mainnav .t3-navbar-collapse .navbar-nav > li.open.open > a {
  background: #272727;
}
.t3-mainnav .t3-navbar-collapse .navbar-nav > li > a {
  border-top: 1px solid #474747;
}
.t3-mainnav .t3-navbar-collapse .navbar-nav > li:first-child > a {
  border-top: 0;
}
.t3-mainnav .t3-navbar-collapse .navbar-nav .open .dropdown-menu {
  padding: 0;
}
.t3-mainnav .t3-navbar-collapse .navbar-nav .open .dropdown-menu li a {
  border-bottom: 0;
}
.t3-mainnav .t3-navbar-collapse .navbar-nav .open .dropdown-menu > li > a:hover,
.t3-mainnav .t3-navbar-collapse .navbar-nav .open .dropdown-menu > li > a:focus {
  color: #fa732a;
}
.t3-mainnav .t3-navbar-collapse .navbar-nav .open .dropdown-menu > li.active > a {
  background: transparent;
  color: #fa732a;
}
.t3-mainnav .t3-navbar-collapse .navbar-nav .open .dropdown-menu > li > a {
  font-weight: 700;
}
.t3-mainnav .t3-navbar-collapse .navbar-nav .open .dropdown-menu > li .dropdown-menu > li > a {
  padding-left: 40px;
}
.t3-mainnav .t3-navbar-collapse .navbar-nav .open .dropdown-menu .mega-group .dropdown-submenu .dropdown-menu li a {
  border-bottom: 0;
  font-weight: normal;
  padding-left: 60px;
}
.t3-mainnav .t3-navbar-collapse .navbar-nav .open .dropdown-menu .mega-group .dropdown-submenu.open .dropdown-menu {
  background: transparent;
}
.t3-mainnav .t3-navbar-collapse .navbar-nav .dropdown > a .caret {
  position: absolute;
  top: 40%;
  right: 12px;
}