.container {
  background: #ffffff;
}
.t3-topbar {
  font-size: 10px;
  font-weight: 400;
  text-transform: uppercase;
  height: auto;
  position: relative;
  top: 0;
}
.t3-topbar .container {
  border-left: 0;
  border-right: 0;
}
@media (min-width: 768px) {
  .t3-topbar {
    height: 30px;
  }
}
.t3-topbar .row {
  background: #000000;
}
.t3-topbar .text-right ul.nav {
  float: right;
}
.t3-topbar .nav li {
  display: block;
  float: left;
  overflow: hidden;
}
.t3-topbar .nav li > a {
  margin-right: 20px;
  padding: 0;
  color: #999999;
  height: 30px;
  line-height: 30px;
  border-radius: 0;
}
.t3-topbar .nav li > a:hover,
.t3-topbar .nav li > a:focus {
  color: #ffffff;
  background: none;
  border: 0;
}
.t3-topbar .nav li.active > a {
  color: #ffffff;
  background: none;
}
.t3-topbar .nav li.active > a:hover,
.t3-topbar .nav li.active > a:focus {
  color: #fa732a;
}
.t3-topbar .nav li + li {
  margin-top: 0;
}
.t3-header {
  padding-top: 0;
  padding-bottom: 0;
  background: none;
  position: relative;
  top: 0;
  width: 100%;
  z-index: 4;
}
.t3-header .container {
  background: #fa732a;
  border: 0;
}
.animating .t3-header,
.animating .t3-topbar {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.scrollDown .t3-header,
.scrollDown .t3-topbar {
  top: -100px;
}
@media (min-width: 992px) {
  .scrollUp .t3-wrapper {
    margin-top: 50px;
  }
}
@media (min-width: 992px) {
  .scrollUp .t3-header {
    position: fixed;
    background: #1a1a1a;
    z-index: 999;
    border-bottom: 1px solid #333333;
    height: 51px;
    -webkit-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
  }
  .scrollUp .t3-header .container {
    background: #1a1a1a;
    border-left: 1px solid #333333;
    border-right: 1px solid #333333;
    -webkit-transition: background 0.3;
    -o-transition: background 0.3;
    transition: background 0.3;
  }
  .scrollUp .t3-header .t3-nav-btn .pull-right {
    border-color: #333333;
  }
  .scrollUp .t3-header .navbar-default .navbar-nav > li > a,
  .scrollUp .t3-header .navbar-default .navbar-nav {
    border-color: #333333;
  }
  .scrollUp .t3-header .navbar-default .navbar-nav > .active > a,
  .scrollUp .t3-header .navbar-default .navbar-nav > .alias-parent-active > a,
  .scrollUp .t3-header .navbar-default .navbar-nav > .active > a:hover,
  .scrollUp .t3-header .navbar-default .navbar-nav > .alias-parent-active > a:hover,
  .scrollUp .t3-header .navbar-default .navbar-nav > .active > a:focus,
  .scrollUp .t3-header .navbar-default .navbar-nav > .alias-parent-active > a:focus {
    background: #000000;
  }
}
.logo {
  text-align: center;
  padding-right: 0;
  padding-left: 30px;
  width: auto;
}
@media screen and (max-width: 767px) {
  .logo {
    text-align: left;
    margin-top: -1px;
    position: relative;
    width: 25%;
    z-index: 1000;
  }
}
@media screen and (min-width: 768px) {
  .logo {
    text-align: left;
  }
}
.logo a {
  display: inline-block;
  line-height: 1;
  margin: 0;
}
.logo-image {
  padding: 0;
  line-height: 50px;
  height: 50px;
}
.logo-image .logo-img {
  display: inline-block;
}
.logo-image span,
.logo-image small {
  display: none;
}
@media screen and (max-width: 991px) {
  .logo-image {
    top: 10px;
    left: 30px;
  }
  .logo-image .logo-img-sm {
    display: inline-block !important;
  }
}
.logo-text a {
  margin-top: 5px;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
}
.logo-text:hover a,
.logo-text a:hover,
.logo-text a:active,
.logo-text a:focus {
  text-decoration: none;
  color: #ffffff;
}
.logo-text .site-slogan {
  display: block;
  font-size: 10px;
  margin-top: 5px;
  color: #ffffff;
  opacity: 0.8;
  filter: alpha(opacity=80);
}
.head-search {
  margin-top: 20px;
}
.head-search:before,
.head-search:after {
  content: " ";
  display: table;
}
.head-search:after {
  clear: both;
}
.head-search form {
  margin: 0;
}
.head-search label {
  display: none;
}
.head-search .search {
  position: relative;
}
.head-search .search:before {
  font-family: "FontAwesome";
  content: "\f002";
  display: block;
  position: absolute;
  left: 10px;
  top: 6px;
  color: #555555;
}
@media screen and (min-width: 768px) {
  .head-search .search {
    float: right;
  }
}
.head-search .form-control {
  width: 100%;
  padding-left: 30px;
}
@media screen and (min-width: 768px) {
  .head-search .form-control {
    width: 150px;
  }
  .head-search .form-control:focus {
    width: 200px;
  }
}
.t3-masthead .container {
  background: #000000;
  color: #ffffff;
  padding: 20px 30px;
}
.t3-masthead .container h3 {
  font-family: 'bebas_neuelight', sans-serif;
  font-size: 40px;
  letter-spacing: 1px;
  margin: 0;
}
.t3-topbanner .container {
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #e7e7e7;
}
.t3-bottombanner {
  padding-top: 20px;
  padding-bottom: 20px;
  background: #000000;
}
.t3-bottombanner .container {
  border: 0;
  background: #000000;
}
.t3-sl {
  padding-bottom: 40px;
  padding-top: 40px;
}
@media screen and (min-width: 768px) {
  .t3-sl {
    padding-bottom: 60px;
    padding-top: 60px;
  }
}
.ja-slideshow .container {
  height: 470px;
  overflow: hidden;
  background: #000000;
  padding: 0;
  position: relative;
  z-index: 0;
}
@media (min-width: 1200px) {
  .ja-slideshow .container {
    height: 560px;
  }
}
.ja-slideshow .container > div {
  padding: 0;
}
.t3-mainbody {
  padding: 30px;
}
.has-slideshow .t3-mast-top-1 {
  z-index: 17;
  position: relative;
}
@media (min-width: 768px) {
  .has-slideshow .t3-mast-top-1 {
    margin-top: -100px;
  }
}
.t3-content-mast-top {
  margin-left: -30px;
  margin-right: 0;
}
@media (min-width: 1200px) {
  .t3-content-mast-top {
    margin-right: -30px;
  }
}
.t3-content-mast-top .title-background-primary.t3-module {
  border-bottom: 0;
}
.t3-content-mast-top .title-background-primary .module-title {
  margin-left: 30px;
}
.t3-content-mast-top #article-carousel h4 {
  position: absolute;
  bottom: 20px;
  padding: 0 30px;
  font-size: 24px;
  font-weight: 700;
}
.t3-content-mast-top #article-carousel h4 .mod-articles-category-date {
  font-size: 14px;
  font-weight: normal;
}
.t3-content-mast-top #article-carousel h4 .mod-articles-category-date i {
  margin-right: 5px;
}
.t3-content-mast-top #article-carousel h4 a {
  color: #ffffff;
  display: block;
}
.t3-content-mast-top #article-carousel .article-img img {
  max-width: 100%;
}
.t3-content-mast-top #article-carousel .mask {
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 100%;
  background: url("../../templates/ja_playmag/images/carousel-mask.png") repeat-x bottom left;
}
.t3-content-mast-top #article-carousel .carousel-control i {
  font-size: 40px;
  left: 30px;
  margin-top: -20px;
  position: absolute;
  top: 50%;
}
.t3-content-mast-top #article-carousel .carousel-control.right i {
  left: auto;
  right: 30px;
}
@media (max-width: 767px) {
  .t3-content-mast-top #article-carousel .carousel-control {
    bottom: auto;
    height: auto;
    left: auto;
    position: absolute;
    right: 0;
    top: 20px;
    width: 40px;
  }
  .t3-content-mast-top #article-carousel .carousel-control.right i {
    left: 10px;
    right: auto;
  }
  .t3-content-mast-top #article-carousel .carousel-control.left i {
    left: -10px;
  }
}
.one-sidebar-right .t3-content-mast-top {
  margin-right: 0;
}
.t3-sidebar-2 {
  padding: 0;
}
.has-slideshow .t3-sidebar-2,
.has-slideshow .one-sidebar-right .t3-sidebar {
  margin-top: -470px;
}
@media (min-width: 1200px) {
  .has-slideshow .t3-sidebar-2,
  .has-slideshow .one-sidebar-right .t3-sidebar {
    margin-top: -560px;
  }
}
.t3-footer {
  color: #7a7a7a;
  background: #000000;
}
.t3-footer:before,
.t3-footer:after {
  content: " ";
  display: table;
}
.t3-footer:after {
  clear: both;
}
.t3-footer .container {
  border: 0;
  background: #000000;
}
.t3-footer small {
  display: block;
  font-size: 100%;
}
.t3-footnav {
  padding: 20px 0;
  border-top: 1px solid #222222;
}
.t3-footnav:before,
.t3-footnav:after {
  content: " ";
  display: table;
}
.t3-footnav:after {
  clear: both;
}
@media screen and (min-width: 768px) {
  .t3-footnav {
    padding: 40px 0;
  }
}
.t3-footnav .t3-module {
  background: transparent;
  color: #999999;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
}
.t3-footnav .t3-module .module-title {
  color: #ffffff;
  font-size: 14px;
  margin-bottom: 10px;
  background: none;
  border-left: 0;
}
.t3-footnav .t3-module .module-title span {
  padding: 0;
  background: none;
}
.t3-footnav .t3-module ul {
  list-style: none;
  margin-left: 0;
  margin-bottom: 0;
  padding-left: 0;
}
.t3-footnav .t3-module ul > li {
  line-height: 24px;
}
.t3-footnav .t3-module ul > li > a {
  color: #999999;
  padding: 0;
  margin: 0;
  font-size: 12px;
  border-radius: 0;
}
.t3-footnav .t3-module ul > li > a:hover,
.t3-footnav .t3-module ul > li > a:active,
.t3-footnav .t3-module ul > li > a:focus {
  color: #fa732a;
  background: none;
}
.t3-copyright {
  font-size: 12px;
}
.t3-copyright:before,
.t3-copyright:after {
  content: " ";
  display: table;
}
.t3-copyright:after {
  clear: both;
}
.t3-copyright .container {
  padding-top: 40px;
  padding-bottom: 40px;
}
.t3-copyright small {
  margin-bottom: 5px;
}
.copyright {
  margin-bottom: 20px;
  color: #999999;
}
.copyright a {
  color: #555555;
}
.copyright a:hover,
.copyright a:focus {
  color: #e7e7e7;
}
.poweredby:before,
.poweredby:after {
  content: " ";
  display: table;
}
.poweredby:after {
  clear: both;
}
@media screen and (min-width: 991px) {
  .poweredby {
    text-align: right;
  }
}
.poweredby .t3-logo,
.poweredby .t3-logo-small {
  opacity: .8;
  display: inline-block;
}
.acymailing_module_form .acymailing_introtext {
  font-size: 12px;
  color: #999999;
  margin-bottom: 20px !important;
}
.ie8 .logo {
  min-width: 109px;
}
.ie8 .logo a {
  margin: 13px 0 12px;
}
.ie8 .ja-ss-thumbs-wrap {
  z-index: 200;
  right: 0;
}
.ie8 .ja-ss-thumbs-wrap .ja-ss-thumbie {
  width: auto !important;
}
.ie8 .ja-ss-thumbs-wrap .ja-ss-thumbie .ja-ss-thumbs {
  width: auto !important;
}
.ie8 #Kunena #jumpto {
  display: block;
  float: right;
  width: 500px;
}
.ie8 #Kunena #jumpto .kright {
  width: 100%;
}
.ie8 #Kunena #jumpto select.inputbox {
  widht: auto;
}
.ie8 #Kunena #jumpto input.kbutton {
  float: left;
}
.ie8 #Kunena .klist-actions tr > td {
  padding: 10px 20px;
  line-height: 38px;
}
.ie8 #Kunena .kfile-input-textbox {
  width: auto;
}
.ie8 div#itemListLeading .catItemView {
  min-height: 240px;
}
.ie9 .catItemView {
  height: 300px;
}
.none-responsive .hidden-md {
  display: block !important;
}
.none-responsive #t3-content-wrap {
  width: 75%;
}
.none-responsive #t3-mainbody > .row > .t3-sidebar {
  width: 25%;
}
.none-responsive #t3-content {
  width: 66.6667%;
}
.none-responsive #t3-content + .t3-sidebar {
  width: 33.3333%;
}
.none-responsive .one-sidebar-right #t3-content {
  width: 75%;
}
.none-responsive .no-sidebar #t3-content {
  width: 100%;
}
.none-responsive.com_content.view-article.article-review #t3-content {
  width: 100%;
}
.none-responsive.com_content.view-article.article-review .article-aside {
  width: 16.6667%;
}
.none-responsive.com_content.view-article.article-review .item-page .article-content {
  width: 83.3333%;
}