.acm-container-tabs .container-tabs-nav {
  border-bottom: 0;
}
.acm-container-tabs .container-tabs-nav .nav-tabs {
  border: 0;
  text-align: center;
  background: none;
  margin-bottom: 20px;
}
.acm-container-tabs .container-tabs-nav .nav-tabs li {
  float: none;
  display: inline-block;
}
@media (min-width: 480px) {
  .acm-container-tabs .container-tabs-nav .nav-tabs li {
    width: auto;
  }
}
.acm-container-tabs .container-tabs-nav .nav-tabs li a {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  color: #333333;
  padding: 6.66666667px 10px;
  border-radius: 2px;
  border: 0;
  line-height: 1;
}
.acm-container-tabs .container-tabs-nav .nav-tabs li a:hover {
  background: #113f7a;
  color: #ffffff;
}
.acm-container-tabs .container-tabs-nav .nav-tabs li.active a {
  background: #113f7a;
  color: #ffffff;
}
.acm-container-tabs .tab-pane {
  display: none;
}
.acm-container-tabs .tab-pane .tab-content {
  margin-bottom: 20px;
}
.acm-container-tabs .tab-pane .section-inner {
  padding: 60px 0 0;
}
.acm-container-tabs .tab-pane.active {
  display: block;
}
.acm-container-tabs .style-2 .container-tabs-nav .nav-tabs li {
  margin: 0;
}
.acm-container-tabs .style-2 .container-tabs-nav .nav-tabs li a {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 5px;
  padding: 10px 20px;
  text-transform: uppercase;
}
.acm-container-tabs .style-2 .container-tabs-nav .nav-tabs li a:hover,
.acm-container-tabs .style-2 .container-tabs-nav .nav-tabs li a:focus,
.acm-container-tabs .style-2 .container-tabs-nav .nav-tabs li a:active {
  background: #113f7a;
  color: #ffffff;
}
.acm-container-tabs .style-2 .container-tabs-nav .nav-tabs li.active a {
  border: 0;
  background: #113f7a;
  color: #ffffff;
}