.obj-responsive {
  position: relative;
  padding-bottom: 56.25%;
  
  padding-top: 25px;
  height: 0;
}
.obj-responsive iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.toolbar {
  background: #000000;
  color: #ffffff;
  font-size: 13px;
  position: fixed;
  top: 0;
  height: 40px;
  left: 0;
  right: 0;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.8);
}
.toolbar .search #mod-search-searchword,
.toolbar .search #mod_virtuemart_search {
  border-radius: 20px;
  background: transparent;
  border-color: rgba(255, 255, 255, 0.2);
  padding: 5px 15px;
  height: 26px;
  margin: 7px 0 0 0;
}
.toolbar .toolbar-2 {
  padding: 10px 0;
  text-align: center;
}
@media screen and (min-width: 992px) {
  .toolbar .toolbar-2 {
    text-align: right;
  }
}
.toolbar .toolbar-2 .vmCartModule,
.toolbar .toolbar-2 .custom {
  display: inline-block;
  vertical-align: middle;
  margin: 0 5px;
}
.t3-header {
  background: #000000;
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 40px;
  left: 0;
  right: 0;
  z-index: 1000;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.sticky-wrapper {
  height: auto !important;
}
.sticky-wrapper.is-sticky .t3-header {
  background: #000000;
}
.logo {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .logo {
    text-align: left;
  }
}
.logo a {
  display: inline-block;
  line-height: 1;
  margin: 0;
}
.logo-image span,
.logo-image small {
  display: none;
}
.logo-image img {
  height: 40px;
  margin: 5px 0;
}
.logo-text a {
  text-decoration: none;
  font-size: 28px;
  font-weight: bold;
}
.logo-text:hover a,
.logo-text a:hover,
.logo-text a:active,
.logo-text a:focus {
  text-decoration: none;
}
.logo-text .site-slogan {
  display: block;
  font-size: 14px;
  margin-top: 5px;
}
.t3-slideshow {
  margin-bottom: 30px;
}
.head-search {
  margin-top: 20px;
}
.head-search:before,
.head-search:after {
  content: " ";
  display: table;
}
.head-search:after {
  clear: both;
}
.head-search form {
  margin: 0;
}
.head-search label {
  display: none;
}
.head-search .search {
  position: relative;
}
.head-search .search:before {
  font-family: "FontAwesome";
  content: "\f002";
  display: block;
  position: absolute;
  left: 10px;
  top: 6px;
  color: #555555;
}
@media screen and (min-width: 768px) {
  .head-search .search {
    float: right;
  }
}
.head-search .form-control {
  width: 100%;
  padding-left: 30px;
}
@media screen and (min-width: 768px) {
  .head-search .form-control {
    width: 150px;
  }
  .head-search .form-control:focus {
    width: 200px;
  }
}
.t3-sl {
  padding-bottom: 40px;
  padding-top: 40px;
}
@media screen and (min-width: 768px) {
  .t3-sl {
    padding-bottom: 60px;
    padding-top: 60px;
  }
}
.t3-mainbody {
  padding-top: 20px;
  padding-bottom: 20px;
}
.t3-content {
  padding-top: 20px;
  padding-bottom: 20px;
}
.t3-sidebar {
  padding-top: 20px;
  padding-bottom: 20px;
}
.t3-sidebar .t3-module {
  background: #f7f7f7;
  padding: 20px;
}
.t3-sidebar .t3-module .module-title {
  background: none;
  color: #333333;
  border-bottom: 1px solid #dddddd;
  font-size: 18px;
  display: block;
}
.t3-sidebar .t3-module .module-title span {
  display: inline-block;
  border-bottom: 2px solid #dddddd;
  padding-bottom: 10px;
}
.t3-sidebar .t3-module .show_cart a {
  background: #01aaf4;
  color: #ffffff;
  padding: 6.66666667px 10px;
  display: inline-block;
  margin-top: 20px;
  border-radius: 2px;
}
.t3-sidebar .t3-module .show_cart a:hover,
.t3-sidebar .t3-module .show_cart a:focus {
  background: #113f7a;
  color: #ffffff;
  text-decoration: none;
}
.t3-footer {
  padding: 30px 0 0 0;
  background: #0b3269 url('../../templates/game_hcm/images/footer-bg.jpg') no-repeat top center;
  color: #ffffff;
}
.t3-footer:before,
.t3-footer:after {
  content: " ";
  display: table;
}
.t3-footer:after {
  clear: both;
}
.t3-footer small {
  display: block;
  font-size: 100%;
}
.t3-footnav {
  padding: 20px 0;
}
.t3-footnav:before,
.t3-footnav:after {
  content: " ";
  display: table;
}
.t3-footnav:after {
  clear: both;
}
@media screen and (min-width: 768px) {
  .t3-footnav {
    padding: 40px 0;
  }
}
.t3-footnav .t3-module {
  background: transparent;
  color: #555555;
  margin-top: 10px;
  margin-bottom: 10px;
}
.t3-footnav .t3-module .module-title {
  color: #ffffff;
  background: none;
  font-size: 14px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 2px solid #ffffff;
}
.t3-footnav .t3-module .module-ct {
  color: #ffffff;
}
.t3-footnav .t3-module ul {
  list-style: none;
  margin-left: 0;
  margin-bottom: 0;
  padding-left: 0;
}
.t3-footnav .t3-module ul > li {
  line-height: 24px;
}
.t3-footnav .t3-module ul > li > a {
  color: #555555;
}
.t3-footnav .t3-module ul > li > a:hover,
.t3-footnav .t3-module ul > li > a:active,
.t3-footnav .t3-module ul > li > a:focus {
  color: #555555;
}
.t3-footnav .t3-module ul.nav li a {
  color: #ffffff;
  line-height: 1.2;
  border-radius: 0;
  padding: 6.66666667px 0;
}
.t3-footnav .t3-module ul.nav li a:hover,
.t3-footnav .t3-module ul.nav li a:focus {
  background: none;
  color: rgba(255, 255, 255, 0.5);
}
.t3-footnav .t3-module ul.nav li.active a {
  background: none;
}
.t3-footnav .t3-module.newsletter-highlight {
  background: #dddddd;
  color: #333333;
  padding: 20px;
}
.t3-footnav .t3-module.newsletter-highlight .module-title,
.t3-footnav .t3-module.newsletter-highlight .module-ct {
  color: #333333;
}
.t3-copyright {
  font-size: 12px;
  padding: 10px 0;
  background: #000000;
  color: #ffffff;
}
.t3-copyright:before,
.t3-copyright:after {
  content: " ";
  display: table;
}
.t3-copyright:after {
  clear: both;
}
.t3-copyright small {
  margin-bottom: 5px;
}
.copyright {
  margin-bottom: 0;
}
.poweredby:before,
.poweredby:after {
  content: " ";
  display: table;
}
.poweredby:after {
  clear: both;
}
@media screen and (min-width: 991px) {
  .poweredby {
    text-align: right;
  }
}
.poweredby .t3-logo,
.poweredby .t3-logo-small {
  opacity: .8;
  display: inline-block;
}
.acm-features img {
  width: 100%;
}
.t3-masthead {
  background: #222222 url('../../templates/game_hcm/images/masthead-sony.jpg') no-repeat bottom center / cover;
  color: #ffffff;
  text-align: center;
  padding: 120px 0 30px 0;
}
.section-inner .section-title {
  text-align: left;
  margin: 20px;
}
.section-inner .section-title span {
  background: #0187c1;
  border-radius: 2px;
  text-transform: uppercase;
  font-weight: 700;
  color: #ffffff;
  padding: 5px;
  display: inline-block;
  font-size: 14px;
}
.footer-features .features-item .img-icon {
  display: block;
  max-height: 200px;
  overflow: hidden;
  border: 5px solid #ffffff;
}