.com_kunena body #Kunena a {
  color: #dc1e25;
}
.com_kunena body #Kunena #ktab ul.menu li a:hover,
.com_kunena body #Kunena #ktab ul.menu li a:focus {
  background: #dc1e25 !important;
}
.com_kunena body #Kunena #ktab ul.menu li.active a,
.com_kunena body #Kunena #ktab li#current.selected a {
  background-color: #dc1e25 !important;
}
.com_kunena body #Kunena #ktop {
  border-bottom: 3px solid #dc1e25 !important;
}
.com_kunena body #Kunena .kprofileboxcnt .k_guest b {
  color: #dc1e25;
}
.com_kunena body #Kunena .button:hover,
.com_kunena body #Kunena .button:focus,
.com_kunena body #Kunena .button:active,
.com_kunena body #Kunena .kbutton:hover,
.com_kunena body #Kunena .kbutton:focus,
.com_kunena body #Kunena .kbutton:active,
.com_kunena body #Kunena #kbutton_addvideo1:hover,
.com_kunena body #Kunena #kbutton_addvideo1:focus,
.com_kunena body #Kunena #kbutton_addvideo1:active,
.com_kunena body #Kunena #kbutton_addvideo2:hover,
.com_kunena body #Kunena #kbutton_addvideo2:focus,
.com_kunena body #Kunena #kbutton_addvideo2:active,
.com_kunena body #Kunena #kbbcode-link-options input[type="button"]:hover,
.com_kunena body #Kunena #kbbcode-image-options input[type="button"]:hover {
  background-color: #dc1e25;
  border: solid 1px #dc1e25 !important;
}
.com_kunena body #Kunena .ja-announcement-field #kanncreated_img {
  background-color: #dc1e25;
}
.com_kunena body #Kunena .ja-announcement-field #kanncreated_img:hover {
  background-color: #dc1e25;
}
.com_kunena body #Kunena .kbuttononline-yes span.online-yes {
  color: #dc1e25;
}
.com_kunena body #Kunena .kbuttononline-yes span.online-yes span {
  color: #dc1e25;
}
.com_kunena body #Kunena .kfile-input:hover,
.com_kunena body #Kunena .kfile-input:active,
.com_kunena body #Kunena .kfile-input:focus {
  background: #dc1e25;
}
.com_kunena body #Kunena .kheader h2,
.com_kunena body #Kunena .kheader h3 {
  background: #dc1e25;
}
.com_kunena body #Kunena .kicon-button:hover span,
.com_kunena body #Kunena .kicon-button:focus span,
.com_kunena body #Kunena .kicon-button:active span {
  color: #dc1e25;
}
.com_kunena body #Kunena .kpagination a:link,
.com_kunena body #Kunena .kpagination a:visited,
.com_kunena body #Kunena .kpagination a,
.com_kunena body #Kunena .kpagination span {
  color: #dc1e25;
}
.com_kunena body #Kunena .kpagination a:hover,
.com_kunena body #Kunena #Kunena .kpagination span {
  background: #dc1e25;
  border-color: #dc1e25;
}
.com_kunena body #Kunena .kwho-admin {
  color: #dc1e25;
}
.com_kunena body #Kunena div#khistory tr.ksth a {
  color: #dc1e25;
}
.com_kunena body #Kunena div.kthead-title a:hover,
.com_kunena body #Kunena div.kthead-title a:focus,
.com_kunena body #Kunena div.kthead-title a:active {
  color: #dc1e25;
}
.com_kunena body #Kunena dl.tabs dt.open {
  color: #dc1e25 !important;
}
.com_kunena body #Kunena dl.tabs dt.open:hover,
.com_kunena body #Kunena dl.tabs dt.open:focus,
.com_kunena body #Kunena dl.tabs dt.open:active {
  background: #ffffff;
  color: #dc1e25 !important;
}
.com_kunena body #Kunena dl.tabs dt:hover {
  background: #dc1e25;
  border-color: #dc1e25;
}
.com_kunena body #Kunena span.kheadbtn a:hover {
  background: #dc1e25 !important;
  border-color: #dc1e25 !important;
}
.com_kunena body #Kunena table.kprofilebox .kprofileboxcnt .klink-block a:hover,
.com_kunena body #Kunena table.kprofilebox .kprofileboxcnt .klink-block a:focus,
.com_kunena body #Kunena table.kprofilebox .kprofileboxcnt .klink-block a:active {
  color: #dc1e25;
}
.com_kunena body #Kunena .button:hover .kbutton-back {
  color: #dc1e25;
}