.ja-contentslider {
  position: relative;
}
.ja-contentslider .ja-contentslider-center {
  margin: 0 auto;
}
.ja-contentslider .ja-button-control {
  background: none;
  border: 0;
  position: absolute;
  top: 0;
  width: 100%;
  height: 120px;
}
.ja-contentslider .ja-button-control .ja-contentslider-right,
.ja-contentslider .ja-button-control .ja-contentslider-left {
  position: absolute;
  left: -20px;
  top: 0;
  background: url("../../../../images/slider-control.png") no-repeat 0 0;
  width: 20px;
  height: 120px;
  cursor: pointer;
}
.ja-contentslider .ja-button-control .ja-contentslider-right:hover,
.ja-contentslider .ja-button-control .ja-contentslider-left:hover,
.ja-contentslider .ja-button-control .ja-contentslider-right:focus,
.ja-contentslider .ja-button-control .ja-contentslider-left:focus {
  background-position: 0 -120px;
}
.ja-contentslider .ja-button-control .ja-contentslider-right {
  left: auto;
  right: -20px;
  background-position: -20px 0px;
}
.ja-contentslider .ja-button-control .ja-contentslider-right:hover,
.ja-contentslider .ja-button-control .ja-contentslider-right:focus {
  background-position: -20px -120px;
}
.ja-contentslider .jsslide {
  -webkit-transition: background 0.2s linear;
  transition: background 0.2s linear;
}
.ja-contentslider .jsslide .ja_slideimages .ja-image {
  position: relative;
  display: block;
}
.ja-contentslider .jsslide .ja_slideimages .ja-image:before {
  content: "\f04b";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  font-size: 12px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -20px;
  margin-left: -20px;
  text-align: center;
  line-height: 36px;
  width: 40px;
  height: 40px;
  background: #000000;
  border: 2px solid #5a5a5a;
  border-radius: 50%;
  color: #878787;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  opacity: 0.4;
  filter: alpha(opacity=40);
}
.ja-contentslider .jsslide .video-time {
  color: #0077bb;
  font-size: 10px;
  margin: 6.66666667px 20px;
}
.ja-contentslider .jsslide .ja_slidetitle {
  font-size: 14px;
  font-weight: bold;
  padding: 0 20px;
}
.ja-contentslider .jsslide .ja_slidetitle a {
  color: #878787;
}
.ja-contentslider .jsslide:hover,
.ja-contentslider .jsslide:focus {
  background: #000000;
}
.ja-contentslider .jsslide:hover .ja_slideimages .ja-image:before,
.ja-contentslider .jsslide:focus .ja_slideimages .ja-image:before {
  opacity: 0.9;
  filter: alpha(opacity=90);
}
.ja-contentslider .jsslide:hover .ja_slidetitle a,
.ja-contentslider .jsslide:focus .ja_slidetitle a {
  color: #ffffff;
}