.ja-ss-slideshow {
  position: relative;
  height: 309px;
}
.ja-ss-loading {
  background: none;
}
.ja-ss-loading:before {
  content: "";
  display: block;
  background: url("../../../images/slideloading.gif") no-repeat center center #ffffff;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 5;
}
.ja-ss-wrap {
  overflow: hidden;
  position: relative;
  width: 100%;
}
.ja-ss-items {
  width: 100%;
  position: relative;
  z-index: 1;
}
.ja-ss-item {
  display: block;
  float: left;
  margin: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  left: 0;
  width: 100%;
  min-height: 260px;
  z-index: 1;
  backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
.ja-ss-item.prev {
  display: block;
}
.ja-ss-item.next {
  display: block;
}
.ja-ss-item.curr {
  z-index: 2;
  
}
.ja-ss-item img {
  background: #fff;
  width: 100%;
  max-width: 100%;
}
.ja-ss-mask {
  background: url("../../../images/slide-mask.png") no-repeat top left;
  background-size: 100% 100%;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 2;
}
.ja-ss-desc {
  position: absolute;
  left: 0;
  top: 30px;
  bottom: 60px;
  padding: 30px;
  color: #000;
  text-align: left;
  z-index: 3;
  width: 50%;
  background: #ffffff;
}
@media (min-width: 768px) {
  .ja-ss-desc {
    bottom: 130px;
  }
}
@media (min-width: 992px) {
  .ja-ss-desc {
    bottom: 60px;
  }
}
@media (min-width: 1200px) {
  .ja-ss-desc {
    width: 35%;
    bottom: 140px;
  }
}
.ja-ss-desc h3 {
  margin: 0;
  font-family: 'bebas_neueregular', sans-serif;
  text-transform: uppercase;
  font-size: 40px;
  margin-bottom: 20px;
}
.ja-ss-desc h3 a {
  color: inherit;
  line-height: normal;
  text-decoration: none;
}
.ja-ss-desc .btn {
  margin-top: 20px;
}
.ja-ss-btns {
  opacity: 0;
}
@media screen and (max-width: 1199px) {
  .ja-ss-btns {
    opacity: 1;
  }
}
.ja-ss-btns span {
  background: url("../../../images/ctrl-btns.png") no-repeat top left;
  color: #fff;
  cursor: pointer;
  display: block;
  float: left;
  height: 40px;
  margin-top: -90px;
  padding: 0;
  width: 40px;
  text-indent: -999em;
  top: 50%;
  position: absolute;
  z-index: 100;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .ja-ss-btns span {
    margin-top: -30px;
  }
}
.ja-ss-wrap:hover .ja-ss-btns {
  opacity: 1;
}
.ja-ss-btns .ja-ss-prev {
  background-position: 0 0;
  left: 30px;
  opacity: 0.3;
}
.ja-ss-btns .ja-ss-prev:hover {
  background-position: left bottom;
  right: 760px;
  opacity: 1;
}
@media screen and (max-width: 991px) {
  .ja-ss-btns .ja-ss-prev:hover {
    right: 620px;
  }
}
.ja-ss-btns .ja-ss-next {
  background-position: -40px 0;
  right: 30px;
  opacity: 0.3;
}
.ja-ss-btns .ja-ss-next:hover {
  background-position: -40px bottom;
  opacity: 1;
}
.ja-ss-btns .ja-ss-stop {
  background-position: -80px 0;
  display: none;
}
.ja-ss-btns .ja-ss-stop:hover {
  background-position: -80px bottom;
  right: 280%;
}
.ja-ss-btns .ja-ss-play {
  background-position: -120px 0;
  display: none;
}
.ja-ss-btns .ja-ss-play:hover {
  background-position: -120px bottom;
  display: none;
}
.ja-ss-btns .ja-ss-playback {
  background-position: right 0;
  display: none;
}
.ja-ss-btns .ja-ss-playback:hover {
  background-position: right bottom;
  display: none;
}
.ja-ss-thumbs-wrap {
  width: 100%;
  clear: both;
  position: absolute;
  bottom: 50px;
  overflow: hidden;
  z-index: 9;
}
@media (min-width: 1200px) {
  .ja-ss-thumbs-wrap {
    bottom: 140px;
  }
}
@media screen and (max-width: 991px) {
  .ja-ss-thumbs-wrap {
    bottom: 130px;
    right: 5px;
  }
}

.ja-ss-thumbs {
  margin: 0;
  padding-right: 20px;
  top: 0;
  text-align: right;
  width: auto !important;
  
  white-space: nowrap;
  transform: translateX(0) !important;
  -moz-transform: translateX(0) !important;
  -ms-transform: translateX(0) !important;
  -webkit-transform: translateX(0) !important;
  
}
.ja-ss-thumbs .ja-ss-thumb {
  display: inline-block;
  overflow: hidden;
  margin: 0 3px;
  border: 2px solid transparent;
  text-align: center;
  vertical-align: bottom;
  cursor: pointer;
  background-clip: padding-box;
}
.ja-ss-thumbs .ja-ss-thumb.active {
  border: 2px solid #dc1e25;
}
.ja-ss-thumbs .ja-ss-thumb.active img {
  opacity: 1;
}
.ie9 .ja-ss-thumbs-wrap {
  z-index: 200;
  right: -485px;
}
.ie9 .ja-ss-thumbs-wrap .ja-ss-thumbie {
  width: auto !important;
}
.ie9 .ja-ss-thumbs-wrap .ja-ss-thumbie .ja-ss-thumbs {
  width: auto !important;
  margin-right: 25px;
  left: 0 !important;
}
.ie9 .ja-ss-btns {
  display: inline !important;
}
.ie8 .ja-ss-thumbs-wrap .ja-ss-thumbie .ja-ss-thumbs {
  width: auto !important;
  margin-right: 25px;
}